.box2-2-content1 {
  flex : 0.4;

  display: flex;
  flex-direction: row;

  margin-left: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

.items4 {
  flex : 1;

  display: flex;
  flex-direction: column;
}

.items4-1 {
  flex : 0.2;
  border-bottom: 1px solid #d3d3d3;
  line-height: 30px;
}

.items4-2{
  flex : 0.8;
  margin-right: 5px;
  margin-top: 5px;
}

.items5 {
  flex : 1;

  display: flex;
  flex-direction: column;
}

.items5-1{
  flex : 0.2;
}

.items5-2 {
  flex : 0.8;

  margin-left: 5px;
}

.box2-2-content2{
  flex : 1;

  display: flex;
  flex-direction: column;

  margin-left: 15px;
  margin-right: 10px;
}

.items6 {
  flex : 0.2;

  border-bottom: 1px solid #d3d3d3;
  vertical-align: bottom;

  padding-bottom: 0px;

  line-height: 30px;
}

.items7 {
  flex:2;
  margin-top: 5px;
  margin-bottom: 5px;
}

table {
  width: 100%;
  border: 1px solid #d3d3d3;
  border-collapse: collapse;
  background-color: #e9e9e9;
}

th,td {
  border: 1px solid #d3d3d3;
}

.photo {
  background-color: #f05650;
  border-radius: 4px;
  color: white;
  margin-right: 5px;
}

.board{
  background-color: #4780cc;
  border-radius: 4px;
  color: white;
  margin-right: 5px;
}

.items4-2 p {
  margin-top: 0px;
  margin-bottom: 3px;
}
